html body {
  font-family: "lato", sans-serif;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #C0C0C0;
}

.navli {
  display: inline;
  float: left;
  background-color: #C0C0C0;
}

.big-nav, .active-big-nav {
  display: block;
  padding-left: auto;
  padding-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.big-nav:hover {
  background-color: lightblue;
}

.active-big-nav {
  background-color: #005b9a !important;
}

.nav:link, .nav:visited, .nav:active {
  color: white;
  text-decoration: none;
}
