.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navli {
  display: inline;
  float: left;
}

.big-nav {
  display: block;
  padding: 16px;
  background-color: #C0C0C0;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.active-big-nav {
  background-color: #005b9a;
}

a:hover {
  background-color: lightblue;
}
